body{
	color-scheme: light;
    --background-color: #f7f5f3;
    --primary-color:  #000014;
    --secondary-color: #343456;
    --accent-color-1: #ff8f05;
    --accent-color-2: #cc4100;
}

@media (prefers-color-scheme: dark) {
    body{
        color-scheme: dark;
        --background-color: #08080c;
        --primary-color:  #fffffe;
        --secondary-color: #787a93;
        --accent-color-1: #ff8f05;
        --accent-color-2: #cc4100;
    }
}

body{ 
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  background: var(--background-color);
  color: var(--secondary-color);
	--font-mono: 'Fira Code', 'SF Mono',monospace;
  --font-sans: 'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;
  font-family: var(--font-sans);
}

.notfound{
  animation: glitch 2s linear infinite;
  font-family: var(--font-mono);
  letter-spacing: -7px;
  font-size: 6rem;
}

.hero-button{
  padding: .5rem 1rem .5rem 1rem;
  width: fit-content;
  border: 0.1rem solid var(--secondary-color);
  background-color: #00000000;
  border-radius: .2rem;
  transition: 0.2s ease-in-out;
  font-weight: bold;
  text-decoration:none;
  color: var(--secondary-color);
  font-family: var(--font-mono);
  cursor: pointer;
}

.hero-button:hover{
  transform: translate(-.25rem,-.25rem);
  box-shadow: .25rem .25rem var(--accent-color-1);
  color: var(--accent-color-1);
  border-color: var(--accent-color-1);
  text-decoration: none;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

div:before,
div:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

div:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

div:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}