
/* uncomment for debugging layout*/
/* *{background: rgb(0 100 0 / 0.1) !important;} */
/* *{outline: 1px solid rgb(55, 0, 255)} */
/* *:hover {outline:1px blue solid;}  */

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&display=swap');

body{
    /* https://www.happyhues.co/palettes/14 */
    /* --background-color: #fffffe;

    --primary-color:  #272343;
    --secondary-color: #2d334a;

    --accent-color-1: #ffd803;
    --accent-color-2: #e3f6f5;
    --accent-color-3: #bae8e8; */

    --background-color: #f5f5f5;

    --primary-color:  #000000;
    --secondary-color: #13141d;

    --accent-color-1: #ffa500;
    --accent-color-2: #bae8e8;
    --accent-color-3: #e3f6f5;

    --header-height: 3rem;
    --header-padding-vertical: 1.5rem;
    --content-top-spacing: calc(var(--header-height) + (var(--header-padding-vertical)*2));

    --font-mono: 'Fira Code', 'SF Mono',monospace;
    --font-sans: 'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;

    -webkit-font-smoothing: antialiased;
}

/* https://www.happyhues.co/palettes/4 */
/* illustration stroke main swapped */
@media (prefers-color-scheme: dark) {
    body{
        color-scheme: dark;

        --background-color: #030303;

        --primary-color:  #ffffff;
        --secondary-color: #8c8c8c;
    
        --accent-color-1: #ffa500;
        --accent-color-2: #2a4bac;
        --accent-color-3: #2cb67d;
    }
}

html, body {
    font-family: var(--font-sans);
    margin:0;

    color-scheme: light;
    accent-color: var(--background-color);
    background-color: var(--background-color);
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6{
    color: var(--primary-color);
}
p,div{
    color: var(--secondary-color);
}
a{
    text-decoration: none;
}
a, a:visited, a:active {
    color: inherit;
}

.loading_screen{
    background-color: var(--background-color);
    overflow:hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100vw;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeout_80 2.5s ease-in-out forwards;
}
@keyframes fadeout_80 {
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
        z-index: -1;
    }
}

.loading_icon{
    background-repeat: no-repeat;
    height: 5rem;
    width: 5rem;
    align-self: center;
    stroke:var(--primary-color);
    fill: var(--primary-color);
    animation: zoomout 2.5s linear forwards;
}
/* .loading_icon:hover{
    stroke:var(--accent-color-1);
    fill: var(--accent-color-1);
} */
@keyframes zoomout {
    80%{
        scale: 1;
        opacity: 1;
    }
    95%{
        scale: 0;
        opacity: 0;
    }
}

header{
    /* position: fixed; */
    position: sticky;
    top: 0;
    left: 0;
    /* width: 100vw; */
    right: 0;
    height: var(--header-height);
    padding: var(--header-padding-vertical) 2.5rem;
    backdrop-filter: blur(15px);
    /* background-color: rgba(182, 182, 182, 0.2); */
    /* background-blend-mode: multiply; */
    z-index: 1;
    border-bottom: 1px solid var(--primary-color);
}

/* navbar styling */
nav{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_right{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.logo_icon{
    /* margin-left: 2rem; */
    width: 3rem;
    height: 3rem;
    stroke:var(--primary-color);
    fill: var(--primary-color);
    text-decoration: none;
    transition: 0.2s ease-in-out;
    border-radius: .1rem;
}
.logo_icon:hover{
    transform: translate(-.25rem,-.25rem);
    box-shadow: .25rem .25rem var(--accent-color-1);
    fill: var(--accent-color-1);
    stroke: var(--accent-color-1);
}

.nav_list{
    display: flex;
    gap: 3rem;
    font-family: var(--font-mono);
    list-style-type: decimal-leading-zero;
    font-family: var(--font-mono);
    font-size: .9rem;
}
.nav_list li{
    transition: .2s ease-in-out;
}
.nav_list li a{
    color: var(--secondary-color);
    transition: .2s ease-in-out;
}
.nav_list li::marker{
    color: var(--accent-color-1);
    transition: .2s ease-in-out;
    /* font-family: monospace; */
}
.nav_list li a:hover{
    color: var(--accent-color-1);
}



/* main content alignment */
.content{
    margin-top: var(--content-top-spacing);

    min-height: calc(100vh - var(--content-top-spacing));
    align-items:center;
    display: flex;
    /* flex-direction: column;
    justify-content: center; */
    /* position: relative; */

    padding: 0 6rem;
    /* padding-bottom: 3rem; */
}
.main{
    margin: 0 auto;  
    max-width: 65rem;
}

/* side containers */
.left{
    left: 2.5rem;
}
.right{
    right: 2.5rem;
}
.side-container{
    position: fixed;
    bottom: 0;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.side-container::after{
    content: "";
    display: block;
    width: 1px;
    opacity: .6;
    min-height: 3rem;
    height: 10vh;
    max-height: 10rem;
    bottom: 0;
    margin-top: 1rem;
    background-color: var(--secondary-color);
}

/* socials in left side container */
.socials{
    display: flex;
    gap: 3rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.socials li a svg{
    width: 1.5rem;
    height: 1.5rem;
    stroke: var(--secondary-color);
    transition: .2s ease-in-out;
    stroke-width: .08rem;
}

.socials li a svg:hover{
    stroke: var(--accent-color-1);
    transform: translate(0,-.25rem);
    stroke-width: .1rem;
}

/* email in right side container*/
.email{
    writing-mode: vertical-rl;
    font-family: var(--font-mono);
    color: var(--secondary-color);
    letter-spacing: .2rem;
    transition: 0.2s ease-in-out;

}
.email:hover{
    color: var(--accent-color-1);
    transform: translate(0,-.25rem);
}

/* accent button styling*/
.button{
    padding: .5rem 1rem .5rem 1rem;
    width: fit-content;
    border: 0.1rem solid var(--primary-color);
    color: var(--primary-color);
    border-radius: .2rem;
    transition: 0.2s ease-in-out;
    font-family: var(--font-mono);
}
.button:hover{
    transform: translate(-.25rem,-.25rem);
    box-shadow: .25rem .25rem var(--accent-color-1);
    color: var(--accent-color-1);
    border-color: var(--accent-color-1);
}

/* text highlighting */
::-moz-selection{
    background: var(--accent-color-2);
}
::selection {
    background: var(--accent-color-2);
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: min(.3rem, 12px);
}

::-webkit-scrollbar-track {
    background: #00000000;
}

::-webkit-scrollbar-thumb {
    /* background: rgba(var(--secondary-color), 1); */
    background: rgba(140, 140, 140, 0.5);
    opacity: 0;
    border-radius: .1rem;
}


/* section styling */
/* fix href jump to accomodate navbar height */
.section:before {
    content: " ";
    display: block;
    visibility: hidden;
    margin-top: calc((var(--content-top-spacing) - 1rem) * -1);
    height: calc(var(--content-top-spacing) + 1rem);
}

/* hello section styling */
.hello{
    /* height: auto; */
    /* padding-top: var(--header-height); */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: calc(100svh - var(--content-top-spacing));
    min-height: 30rem;
}

.hello h1{
    margin: 0 0 2rem 0;
    color: var(--accent-color-1);
    font-size: clamp(14px,5vw,16px);  /* todo convert to rem */
    font-family: var(--font-mono);
}

.hello h2{
    color: var(--primary-color);
    margin: 0;
    font-size:clamp(40px, 8vw, 80px);  /* todo convert to rem */
}
.hello h3{
    color: var(--secondary-color);
    margin: 0;
    font-size:clamp(40px, 8vw, 80px);  /* todo convert to rem */
}
.hello-text{
    max-width: 30rem;
}
.hello a p{
    padding: 1.5rem 2rem;
}


/* styling for smaller devices */
/* todo mobile navbar */
@media (max-width: 736px) {
    body{
        --header-padding-vertical: .5rem;
    }
    header{
        height: auto;
        padding: var(--header-padding-vertical) 1rem;
        border-bottom: 1px solid var(--accent-color-1);

    }
    .nav_list{
        flex-wrap: wrap;
        align-items: flex-end;
        list-style: none;
        gap: 1rem;
        font-family: var(--font-mono);
    }
    .header_right{
        gap: 1rem;
    }
    .content{
        padding: 0 3.5rem;
    }
    .left{
        left: .75rem;
    }
    .right{
        right: .75rem;
    }
}
@media (max-width: 600px) {
    .side-container{
        display: none;
    }
    .content{
        padding: 0 2rem;
    }
}
@media (max-width: 600px) {
    .nav_list{
        display: none;
    }
    header{
        border-bottom: 1px solid var(--accent-color-1);
    }
}